# Data Science Tools and Ecosystems

__Objectives:__
* List of popular languages for data science
* List of commonly used libraries within data science
* Examples of arithmetic expressions in python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Pandas
3. Numpy

|Data Science Tools|
|-----------------|
|jupyter notebooks|
|R Studio|
|IBM Watson|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Waleed